<style>
    .outer-segment {
        margin-bottom: 2rem;
    }
    @media(max-width: 1000px) {
        .article-banner {
            height: 20rem;
        }
        .article-heading {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        .outer-segment {
            padding: 1rem;
        }
    }
    @media(max-width: 600px) {
        .article-banner {
            height: 13rem;
        }
    }
    @media(min-width: 1000px) {
        .article-banner {
            height: 22rem;
        }
        .article-heading {
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }
        .outer-segment {
            padding: 1rem 3rem;
        }
    }
    .article-content img {
        margin: 1rem auto;
        display: block;
    }
    .outer-segment hr {
        margin: 1rem 0;
    }
    .article-heading {
        color: var(--primary-color);
        text-align: center;
        word-break: break-word;
    }
    .article-small {
        font-size: 1.1rem;
    }
    .article-content {
        overflow-wrap: break-word;
    }
    .article-content p {
        margin: 0%;
        line-height: 1.3rem;
        padding: 0.5rem 0;
    }
    .article-content h3 {
        margin: 0.5rem 0;
    }
    .article-content h2 {
        margin: 0.8rem 0;
    }
    .article-content a {
        text-decoration: none;
        color: var(--primary-color);
    }
    .article-content #text {
        max-width: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .article-content a:hover {
        color: var(--primary-dark-color);
    }
    .article-content br {
        display: block;
        margin: 0.4rem 0;
        content: " ";
    }
    .article-content ul {
        margin: 0;
    }
    .article-content li {
        margin: 0.2rem 0;
    }
    .article-about {
        display: flex;
        align-items: center;
        height: 1.2rem;
        font-size: 1.2rem;
    } 
    .article-banner {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all ease 0.5s;
        margin-bottom: 1.5rem;
    }
    #creator img {
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 50%;
        display:inline-block;
        margin-top: auto;
        margin-bottom: auto;
    }
    #creator {
        display: inline-flex;
    }
</style>

<div class="outer-segment">
    <h1 class="article-heading"><%= page.title %></h2>
    <% if(page.image_id) { %>
        <div class="article-banner" data-image="<%= page.image_id %>.<%= page.file_format %>?new=true"></div>
    <% } %>
    <script>
        var articleImg=document.getElementsByClassName('article-banner');for(var i = 0; i < articleImg.length; i++) {articleImg[i].style.backgroundImage = "url('<%= services.image_server.domain %>/" + articleImg[i].dataset.image + "')";}
    </script>
    <span class="article-content article-small"><%- page.content %></span>
    <hr>
    <div class="article-about article-small">
        <span id="creator" title="Author">
            <img src="<%= services.image_server.domain %>/users/<%- page.creator_id %>.jpg" onerror="if (this.src != '/public/img/body/header/unknown.svg') this.src = '/public/img/body/header/unknown.svg';">
            &nbsp;<%= page.creator %>
        </span>
        &nbsp;•&nbsp;

        <span id="created_at" title="Datum"><%= page.created_at %></span> 

        <% if (page.created_at.getTime() !== page.last_update.getTime()) { %>
            &nbsp;
            <b id="last_update" title="<%= page.last_update %>">(bearbeitet)</b>
        <% } %>
    </div> 
</div>

<script>
    var created_at = document.getElementById("created_at").innerText;
    document.getElementById("created_at").innerText = new Date(created_at).toLocaleString("de-DE", {dateStyle: "full", timeStyle: "short"});

    if(document.getElementById("last_update")) {
        var last_update = document.getElementById("last_update").getAttribute("title");
        document.getElementById("last_update").setAttribute("title", new Date(last_update).toLocaleString("de-DE", {dateStyle: "full", timeStyle: "short"}));
    }
</script>


<!-- TextRow {
    page_id: 2,
    user_id: 1,
    page_type: 'artikel',
    page_content_id: 2,
    hidden: 0,
    created_at: 2020-12-22T10:03:15.000Z,
    title: 'Feuer in Lübeck zerstört Bauwagen und Garage',
    content: 'Im Falkenhusener Weg in Lübeck ist es am Sonnabendmorgen zu einem Feuer in einem Bauwagen gekommen. Der Brand griff auf eine Garage über, zwischenzeitlich war auch ein Wohnhaus in Gefahr.',
    last_update: 2020-12-22T10:03:15.000Z
  } -->
