<!-- this is mostly the slideshow and some base stuff for outer-segment -->
<style>
    .outer-segment {
        padding: 1rem;
        padding-top: 1.5rem;
        background-color: var(--fdl-dark-background);
        min-height: 40vh;
        align-self: center;
    }
    /* mobile */
    @media(max-width: 1000px) {
        .outer-segment {
            max-width: 87vw;
            min-width: 87vw;
        }
    }
    @media(min-width: 1000px) {
        main {
            max-width: 95vw;
            min-width: 95vw;
            background-color: var(--fdl-dark-background);
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .outer-segment {
            max-width: 920px;
            min-width: 920px;
        }
    }

    .slideshow-container {
        position:  relative;
        overflow: hidden;
    }
    .slideshow-image {
        transition: opacity 0.1s ease-in;
        opacity: 0.8;
        height: 0;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
    }
    /* to get margin-top height/3*2 */
    /* in theory it should just be font-size/2 but because the text doesnt fully occupy the field it has to be like this, this isnt 100% accurate but :3 */
    @media(max-width: 1000px) {
        .slideshow-navigation {
            top: 50%;
            margin-top: -2rem;
        }
        .slideshow-navigation img {
            height: 3rem;
        }
        .slideshow-image-active {
            height: 16rem;
        }
    }
    @media(min-width: 1000px) {
        .slideshow-navigation {
            top: 50%;
            margin-top: -2.66rem;
        }
        .slideshow-navigation img {
            height: 4rem;
        }
        .slideshow-image-active {
            height: 50vh;
        }
    }
    .slideshow-image-active {
        opacity: 1;
    }
    .slideshow-navigation {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: absolute;
        padding: 0;
        width: auto;
        opacity: 0.3;
        background-color: black;
        transition: opacity 0.2s;

        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }
    .slideshow-navigation img {
        padding: 0.5rem 0;
        width: auto;
    }
    .slideshow-navigation:hover {
        opacity: 1;
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
</style>
<!-- things below that >:3 -->
<style>
    .outer-segment hr {
        margin: 0.5rem 0;
        border-width: 1px;
        border-style: solid;
        background-color: var(--fdl-secondary);
    }
    .i-content p {
        margin: 0.8rem 0;
        font-size: 1.1rem;
    } 
    .rp-heading, .i-heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 1rem;
    }
    .rp-heading h1, .i-heading h1 {
        margin: 0px 1rem;
    }
    .rp-heading img, .i-heading img {
        height: 2rem;
        padding: 0.3rem;
        border-radius: 0.4rem;
        background-color: var(--primary-color);
    }
    .rp-recent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media(max-width: 1000px) {
        .rp-page {
            max-width: 20rem;
            min-width: 20rem;
        }
    }
    @media(max-width: 850px) {
        .rp-page {
            max-width: 17rem;
            min-width: 17rem;
        }
    }
    @media(max-width: 700px) {
        .rp-page {
            max-width: 15rem;
            min-width: 15rem;
        }
    }
    @media(max-width: 650px) {
        .rp-page {
            max-width: 20rem;
            min-width: 20rem;
        }
    }
    @media(min-width: 1000px) {
        .rp-page {
            max-width: 17rem;
            min-width: 17rem;
        }
    }
    .rp-page {
        position: relative;
        margin: 1rem;
        flex: 1 1 1px;
        background-color: var(--primary-color);
        color: var(--button-color);
        transition: all ease 0.3s;
    }
    .rp-page:hover {
        top: -0.2rem;
    }
    .rp-page-image {
        margin: 0.6rem;
        height: 9rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .rp-page-title {
        margin: 0.6rem;
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;    
    }
    .rp-page-date {
        position: absolute;
        padding: 0.1rem 0.3rem;
        top: 15px;
        right: 15px;
        font-weight: 700;
        background-color: var(--primary-color);
    }
</style>

<div class="slideshow-container">
    <% for(let i = 0; i < slideshow.length; i++ ) { %>
        <div class="slideshow-image<% if (i === 0) { %> slideshow-image-active<% } %>" data-image="<%= slideshow[i].url %>"></div>
    <% } %>
    <a class="slideshow-navigation prev"><img src="/public/img/body/prev.svg" alt=""></a>
    <a class="slideshow-navigation next"><img src="/public/img/body/next.svg" alt=""></a>
    <!-- &#10094;
    &#10095; -->
</div>

<script>
    var slideImg=document.getElementsByClassName('slideshow-image');
    for(var i = 0; i < slideImg.length; i++) {slideImg[i].style.backgroundImage = "url('<%= services.image_server.domain %>/article_banners/" + slideImg[i].dataset.image + "')";}
</script>

<%- include('../../../partials/js/changeslide') %> 

<script>
    var prev = document.getElementsByClassName("prev")[0];
    prev.addEventListener("click", () => changeSlide(-1), false);
    var next = document.getElementsByClassName("next")[0];
    next.addEventListener("click", () => changeSlide(1), false);
</script>

<div class="outer-segment">
    <div class="information">
        <div class="i-heading">
            <img src="/public/img/body/info.svg">
            <h1>Information</h1>
        </div>
        <hr>
        <div class="i-content">
            <p>Hier finden Sie allgemeine Informationen zu unserer Schule: Wir beschulen Schülerinnen und Schüler im Alter von 5 bis 18 Jahren. Wir führen zur Hauptschul- und Realschulprüfung. In Vorbereitung ist der Abschluss Hochschulreife.</p>
            <p>Die Säulen unserer Pädagogik sind: Selbstgesteuertes Lernen, der Waldorflehrplan, Konsent und Gewaltfreie Kommunikation.</p>
            <p>Unsere Schule entwickelt sich fortlaufend weiter.</p>
            <p>Das Lernen findet in unseren Schulräumen mit den Schülerinnen und Schülern, Eltern und unseren Lernbegleitern statt. Wir freuen uns, wenn wir Ihr Interesse an unserer Arbeit wecken können!</p>
        </div>
    </div>
    <div class="recent-pages">
        <div class="rp-heading">
            <img src="/public/img/body/artikel.svg">
            <h1>Aktuelles</h1>
        </div>
        <hr>
        <div class="rp-recent">
            <% if(recent_pages[0]) { for( let i = 0; i < recent_pages.length; i++ ) { %>
                <a class="rp-page rp-page-<%= i %> " href="/<%= `${recent_pages[i].page_type}/${recent_pages[i].title}` %> ">
                    <%var monthDay = new Array(12);monthDay[0] = "JAN";monthDay[1] = "FEB";monthDay[2] = "MÄR";monthDay[3] = "APR";monthDay[4] = "MAI";monthDay[5] = "JUN";monthDay[6] = "JUL";monthDay[7] = "AUG";monthDay[8] = "SEP";monthDay[9] = "OKT";monthDay[10] = "NOV";monthDay[11] = "DEZ";%>
                    <%let page_date = new Date(recent_pages[i].last_update); page_date = `${page_date.getDate()} ${monthDay[page_date.getMonth()]} ${page_date.getFullYear().toString().substring(2)}`;%>
                    <div class="rp-page-date"><%= page_date %> </div>
                    <div class="rp-page-image" data-image="<%= recent_pages[i].image_id || "article_banners/6" %>.<%= recent_pages[i].file_format || "png" %>"></div>
                    <h2 class="rp-page-title"><%= recent_pages[i].title %></h2>
                </a>
            <% }} else { %> <span class="rp-error">404 - keine aktuelle Seite wurde gefunden..</span><% } %>
        </div>
        <script>
            var pageImg=document.getElementsByClassName('rp-page-image');for(var i = 0; i < pageImg.length; i++) {pageImg[i].style.backgroundImage = "url('<%= services.image_server.domain %>/" + pageImg[i].dataset.image + "')";}
        </script>
    </div>

</div>