<style>
    .outer-segment {
        padding: 1rem;
    }
    .outer-segment hr {
        margin: 0.5rem 0;
        border-width: 1px;
        border-style: solid;
        background-color: var(--fdl-secondary);
    }
    .pages-list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media(max-width: 999px) {
        .page {
            max-width: 20rem;
            min-width: 20rem;
        }
        .pages-heading {
            font-size: 2.5rem;
        }
    }
    @media(max-width: 850px) {
        .page {
            max-width: 17rem;
            min-width: 17rem;
        }
    }
    @media(max-width: 700px) {
        .page {
            max-width: 15rem;
            min-width: 15rem;
        }
    }
    @media(max-width: 650px) {
        .page {
            max-width: 20rem;
            min-width: 20rem;
        }
    }
    @media(min-width: 1000px) {
        .pages-heading {
            font-size: 3rem;
        }
        .page {
            max-width: 17.5rem;
            min-width: 17.5rem;
        }
    }
    .page {
        position: relative;
        margin: 0.5rem;
        flex: 1 1 1px;
        background-color: var(--primary-color);
        color: var(--button-color);
        transition: all ease 0.3s;
    }
    .page:hover,
    .page:focus {
        top: -0.2rem;
    }
    .page-image {
        margin: 0.6rem;
        height: 9rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .page-title {
        font-weight: 500;
        margin: 0.6rem;
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;    
    }
    .page-date {
        position: absolute;
        padding: 0.1rem 0.3rem;
        top: 15px;
        right: 15px;
        font-weight: 500;
        background-color: var(--primary-color);
    }
    .pages-heading {
        padding: 0 2rem;
        margin: 1rem 0;
        transition: all ease 0.6s;
        text-align: center;
    }
</style>

<div class="outer-segment">
    <h1 class="pages-heading"><%= page_title %></h1>
    <hr>
    <ul class="pages-list">
        <%var monthDay = new Array(12);monthDay[0] = "JAN";monthDay[1] = "FEB";monthDay[2] = "MÄR";monthDay[3] = "APR";monthDay[4] = "MAI";monthDay[5] = "JUN";monthDay[6] = "JUL";monthDay[7] = "AUG";monthDay[8] = "SEP";monthDay[9] = "OKT";monthDay[10] = "NOV";monthDay[11] = "DEZ";%>
        
        <% content.forEach(element => { %>
            <a class="page" href="/<%= `${element.page_type}/${element.title}` %>" title="<%= element.title %>">
                <%let page_date = new Date(element.last_update); page_date = `${page_date.getDate()} ${monthDay[page_date.getMonth()]} ${page_date.getFullYear().toString().substring(2)}`;%>
                <div class="page-image" data-image="<%= element.image_id || "404" %>.<%= element.file_format || "banner" %>?new=true&size=s"></div>
                <h2 class="page-title"><%= element.title %></h2>
                <div class="page-date"><%= page_date %> </div>
            </a>
        <% }); %>
    </ul>
    
    <script>
        var pageImg=document.getElementsByClassName('page-image');for(var i = 0; i < pageImg.length; i++) {pageImg[i].style.backgroundImage = "url('<%= services.image_server.domain %>/" + pageImg[i].dataset.image + "')";}
    </script>
</div>